$txt-color: #17b58f;
$bg-color: #f9582d;

input[type="text"],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; // 去除safari浏览器的内阴影
  &::-webkit-input-placeholder {
    color: #888;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #888;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #888;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #888;
    font-size: inherit;
  }
}

input[type="submit"] {
  cursor: pointer;
  appearance: none;
}

input, textarea, select {
  background-color: transparent;
  font-family: '微软雅黑';
}

select {
  border: none;
}

option {
  text-indent: 1em;
  font-family: '微软雅黑';
}

input[type='text'] {
  border: none;
  text-indent: 1em;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 86px;
  background-color: #ffffff;
  .logo {
    float: left;
    margin-top: 24px;
  }
  .second {
    width: 97px;
    float: left;
    font-size: 16px;
    border-left: 1px solid #aaaaaa;
    margin-top: 22px;
    margin-left: 20px;
    padding-left: 20px;
    line-height: 22px;
    color: #777777;
    text-align: center;
    margin-right: 49px;
  }
  .ky{
    float: left;
    height: 41px;
    line-height: 41px;
    text-align: center;
    margin-top: 23px;
    .ky-item{
      float: left;
      width: 120px;
      font-size: 16px;
      border: solid 1px #07c295;
      box-sizing: border-box;
      color: #333333;
      &.cur{
        color: #ffffff;
        background-color: #07c295;
      }
    }
  }
  .header-r {
    float: right;
    .tel {
      float: left;
      margin-top: 17px;
      margin-right: 21px;
      .icon {
        float: left;
        width: 44px;
        height: 44px;
        background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/tel.png") no-repeat;
        margin-right: 8px;
      }
      .text {
        float: right;
        text-align: left;
        .hotline {
          font-size: 14px;
          color: #777777;
        }
        .number {
          font-size: 20px;
          color: #f77637;
          font-weight: bold;
        }
      }
    }
    .register{
      float: left;
      height: 41px;
      line-height: 41px;
      text-align: center;
      margin-top: 23px;
      .ky-item{
        float: left;
        width: 110px;
        font-size: 16px;
        border: solid 1px #07c295;
        box-sizing: border-box;
        color: #333333;
        border-radius: 21px;
        &.current{
          color: #ffffff;
          background-color: #07c295;
          margin-right: 10px;
        }
      }
    }
  }
}

.banner{
  width: 100%;
  height: 500px;
  background-position: center;
  .banner-link{
    display: block;
    height: 100%;
  }
}

.title-module{
  text-align: center;
  background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/title_1.png") no-repeat center top;
  color: #333333;
  h2{
    font-size: 36px;
    line-height: 72px;
  }
  .subtitle{
    font-size: 16px;
    line-height: 16px;
    color: #888888;
  }
}

/* 解读 */
.jd{
  padding-top: 60px;
  margin-bottom: 47px;
  text-align: center;
  .tab-head{
    padding-top: 30px;
    li{
      @extend %in-b;
      width: 150px;
      height: 43px;
      line-height: 42px;
      border-radius: 22px;
      border: solid 1px #888888;
      box-sizing: border-box;
      font-size: 16px;
      color: #333333;
      margin: 0 4px;
      cursor: pointer;
      &.cur{
        color: #ffffff;
        border: 1px solid $txt-color;
        background-color: $txt-color;
      }
    }
  }
  .jd-content{
    padding-top: 36px;
    margin-bottom: 16px;
    .jd-item{
      margin-bottom: 6px;
      display: none;
      &.cur{
        display: block;
      }
    }
    ul{
      @extend %clearfix;
      margin-right: -20px;
      li{
        float: left;
        width: 285px;
        margin-right: 20px;
        a{
          @extend %in-b;
          width: 100%;
          height: 100%;
          .item-bg{
            height: 160px;
            position: relative;
            img{
              position: absolute;
              top: 0;
              left: 0;
              z-index: 10;
            }
          }
          span{
            @extend %in-b;
            width: 100%;
            @extend %one;
            font-size: 16px;
            line-height: 52px;
            color: #333333;
          }
          &:hover{
            .item-bg{
              &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 20;
                width: 100%;
                height: 100%;
                background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/pause.png") no-repeat center rgba(0, 0, 0, 0.6);
              }
            }
          }
        }
      }
    }
  }
  .jd-btn{
    @extend %in-b;
    width: 360px;
    height: 52px;
    line-height: 50px;
    background-image: linear-gradient(90deg,
        #17b58f 0%,
        #0cb3b1 100%);
    border-radius: 26px;
    font-size: 18px;

    color: #fffefe;
  }
}

/* 全程班 */
.whole{
  padding-top: 50px;
  margin-bottom: 50px;
  background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/bg_1.png") no-repeat center top;
  .title-module{
    background: none;
    color: #ffffff;
    span{
      color: #ffffff;
    }
  }
  .whole-yh{
    text-align: center;
    padding-top: 30px;
    margin-bottom: 40px;
    .yh-item{
      @extend %in-b;
      width: 460px;
      height: 80px;
      padding: 16px 20px 0 38px;
      box-sizing: border-box;
      background-color: #fff1e7;
      box-shadow: 0px 2px 4px 0px
      rgba(11, 78, 62, 0.1);
      border-radius: 10px;
      position: relative;
      .item-icon{
        position: absolute;
        top: 16px;
        left: -25px;
        width: 48px;
        height: 48px;
        background-color: #ffffff;
        box-shadow: 0px 2px 4px 0px
        rgba(0, 0, 0, 0.16);
        border-radius: 50%;
      }
      .item-row{
        @extend %clearfix;
        @extend %one;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        .row-title{
          float: left;
          font-size: 16px;
        }
        .row-more{
          float: right;
          color: #888888;
          cursor: pointer;
        }
        strong{
          font-weight: bold;
          &.price{
            color: #fe5002;
          }
        }
      }
      &:nth-of-type(2){
        background-color: #e9f6ff;
        margin-left: 35px;
        .item-row{
          strong{
            &.price{
              color: #38a8f6;
            }
          }
        }
        .item-detail{
          right: 500px;
        }
      }
      .item-detail{
        width: 543px;
        //height: 453px;
        background-color: #ffffff;
        box-shadow: 5px 9px 16px 0px
        rgba(13, 69, 66, 0.2);

        position: absolute;
        right: -550px;
        top: 20px;
        z-index: 10;
        padding: 30px 30px 46px 30px;
        box-sizing: border-box;
        text-align: left;
        display: none;
        .detail-close{
          display: block;
          width: 16px;
          height: 16px;
          background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/close.png") no-repeat;
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }
        .rule{
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 10px;
        }
        .detail-row{
          font-size: 14px;
          font-weight: bold;
          line-height: 22px;
          margin-bottom: 10px;
          .icon{
            @extend %in-b;
            width: 22px;
            height: 22px;

            color: #ffffff;
            text-align: center;
            background-color: #4cc5cd;
            font-style:normal;

            border-radius: 50%;
            margin-right: 10px;
          }
        }
        .intro{
          margin-left: 33px;
          font-size: 14px;
          line-height: 26px;
          .intro-title{
            font-size: 14px;
            border-top: 1px dashed #cccccc;
            margin-top: 10px;
            padding-top: 10px;
            box-sizing: border-box;
            &:nth-of-type(1){
              border-top: 0;
            }
            &.highlight{
              color: #ff5d50;
            }
            strong{
              color: #ff5d50;
            }
          }
          p{
            strong{
              font-weight: normal;
              color: #f97309;
            }
          }
        }
      }
      &.cur{
        .item-detail{
          display: block;
        }
      }
    }
  }
  .whole-content{
    @extend %clearfix;
    margin-right: -20px;
    margin-bottom: 50px;
    .whole-item{
      float: left;
      margin-right: 20px;
      width: 285px;
      height: 380px;
      background-color: #ffffff;
      box-shadow: 0px 2px 8px 0px
      rgba(11, 78, 62, 0.1);
      .item-bg{
        width: 285px;
        height: 160px;
      }
      .item-detail{
        border-bottom: 1px solid #dddddd;
        margin: 20px 20px 0;
        padding-bottom: 20px;
        box-sizing: border-box;
        .detail-title{
          font-size: 20px;
          line-height: 28px;
          color: #333333;
          padding-left: 28px;
          background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/icon_4.png") no-repeat center left;
          &.sel{
            background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/icon_3.png") no-repeat center left;
          }
          @extend %one;
          margin-bottom: 4px;
        }
        p{
          font-size: 14px;
          line-height: 22px;
          color: #666666;
        }
      }
      .item-btn{
        @extend %in-b;
        width: 100%;
        height: 77px;
        text-align: center;
        padding-top: 18px;
        box-sizing: border-box;
        color: #333333;
        span{
          @extend %in-b;
          width: 120px;
          height: 38px;
          line-height: 36px;
          border-radius: 19px;
          border: solid 1px #bbbbbb;
          box-sizing: border-box;
          font-size: 14px;
        }
        &:hover{
          background-color: $bg-color;
          color: #ffffff;
          span{
            border: 1px solid #ffffff;
          }
        }
      }
    }
  }
  .whole-price{
    height: 131px;
    background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/bg_2.png") no-repeat;
    padding-left: 96px;
    padding-right: 80px;
    box-sizing: border-box;
    .price-l{
      float: left;
      width: 280px;
      height: 121px;
      color: $txt-color;
      font-size: 18px;
      font-weight: bold;
      padding: 30px 60px 0;
      box-sizing: border-box;
      line-height: 36px;
      .l-row{
        &:nth-of-type(1){
          font-size: 22px;
        }
      }
    }
    .price-r{
      float: right;
      margin-top: 41px;
      .r-sum{
        float: left;
        height: 60px;
        color: #ffffff;
        font-size: 14px;
        line-height: 22px;
        padding-right: 52px;
        box-sizing: border-box;
        border-right: 1px solid #ffffff;
        margin-right: 80px;
        .sum-row{
          &:nth-of-type(1){
            font-size: 22px;
            margin-bottom: 15px;
          }
        }
      }
      .r-btn{
        @extend %in-b;
        width: 180px;
        height: 52px;
        background-color: $bg-color;
        border-radius: 26px;
        text-align: center;
        font-size: 18px;
        line-height: 50px;
        color: #fffefe;
        margin-top: 4px;
      }
    }
  }
}

/* 联考 */
.gct{
  padding-top: 32px;
  padding-bottom: 61px;
  background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/bg_3.png") no-repeat center bottom;
  .title-module{
    span{
      color: #333333;
    }
  }
  .gct-cont{
    width: 700px;
    height: 421px;
    border-radius: 20px;
    float: right;
    margin-right: 49px;
    margin-top: 79px;
    background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/bg_3_1.png") no-repeat right bottom rgba(255, 255, 255, 0.8);
    position: relative;
    ul{
      padding-left: 50px;
      padding-top: 41px;
      box-sizing: border-box;
      li{
        @extend %in-b;
        height: 41px;
        line-height: 40px;
        border-radius: 21px;
        border: solid 1px #888888;
        padding: 0 32px;
        box-sizing: border-box;
        font-size: 16px;
        color: #333333;
        cursor: pointer;
        margin-right: 16px;
        margin-bottom: 18px;
        &.cur{
          border: 1px solid $txt-color;
          background-color: $txt-color;
          color: #ffffff;
        }
      }
    }
    .gct-btn{
      @extend %in-b;
      width: 300px;
      height: 52px;
      line-height: 50px;
      background-color: #f9582d;
      border-radius: 0px 26px 26px 0px;
      position: absolute;
      left: 0;
      bottom: 60px;
      font-size: 18px;
      color: #ffffff;
      text-align: center;
    }
  }
}

/* 英语 */
.en{
  padding-top: 60px;
  .title-module{
    background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/title_4.png") no-repeat center top;
  }
  /* 备考方案 */
  .test-plan{
    margin-top: 52px;
    background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/bg_4.png") no-repeat center;
    @extend %in-b;
    padding: 28px 28px 0;
    box-sizing: border-box;
    .plan-item {
      width: 480px;
      background-color: $txt-color;
      border-radius: 30px 30px 0px 30px;
      float: left;
      position: relative;
      padding: 27px 70px 26px 62px;
      box-sizing: border-box;
      .item-num{
        @extend %in-b;
        width: 60px;
        height: 60px;
        position: absolute;
      }
      .item-title{
        font-size: 22px;
        font-weight: bold;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 15px;
      }
      &:nth-of-type(1){
        margin-bottom: 46px;
        .item-num{
          background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/num_1.png") no-repeat;
          left: -16px;
          top: -16px;
        }
      }
      &:nth-of-type(2){
        border-radius: 30px 30px 30px 0px;
        float: right;
        margin-bottom: 46px;
        .item-num{
          background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/num_2.png") no-repeat;
          right: -16px;
          top: -16px;
        }
      }
      &:nth-of-type(3){
        border-radius: 30px 0px 30px 30px;
        float: left;
        margin-bottom: 50px;
        .item-num{
          background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/num_3.png") no-repeat;
          left: -16px;
          top: -16px;
        }
      }
      &:nth-of-type(4){
        border-radius: 0px 30px 30px 30px;
        float: right;
        margin-bottom: 50px;
        .item-num{
          background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/num_4.png") no-repeat;
          right: -16px;
          top: -16px;
        }
      }
      li{
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
        background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/icon_5.png") no-repeat 0px 7px;
        padding-left: 12px;
      }
      .item-btn{
        @extend %in-b;
        height: 32px;
        line-height: 32px;
        padding: 0 32px;
        background-color: $bg-color;
        border-radius: 19px;
        font-size: 14px;
        color: #ffffff;
        margin-top: 12px;
      }
    }

  }
  .en-text{
    clear: both;
    width: 1140px;
    border-radius: 11px;
    border: dashed 1px #bbbbbb;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 30px;
    color: #333333;
    text-align: center;
    padding: 20px 58px;
    margin: 0 auto 30px;
    position: relative;
    .look-picture{
      color: $txt-color;
      cursor: pointer;
    }
    .text-img{
      width: 1160px;
      height: 500px;
      position: absolute;
      top: 88px;
      left: -10px;
      z-index: 10;
      display: none;
      &.cur{
        display: block;
      }
    }
  }
  .en-btn{
    text-align: center;
    a{
      @extend %in-b;
      width: 360px;
      height: 52px;
      line-height: 50px;
      border-radius: 26px;
      border: solid 1px $bg-color;
      box-sizing: border-box;
      font-size: 18px;
      color: #f9582d;
      margin: 0 5px;
      &.active{
        background-color: $bg-color;
        color: #ffffff;
      }
    }
  }
}

/* 师资 */
.teachers{
  height: 710px;
  background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/bg_5.png") no-repeat center;
  padding-top: 134px;
  box-sizing: border-box;
  text-align: center;
  .title-module{
    background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/title_5.png") no-repeat center top;
    color: #ffffff;
    margin-bottom: 50px;
    span{
      color: #ffffff;
    }
  }
  .swiper-container{
    width: 1357px;
    .swiper-wrapper{
      width: 1200px;
      margin: 0 auto;
    }
    ul{
      @extend %clearfix;
      margin-right: -20px;
      li{
        width: 285px;
        position: relative;
        float: left;
        margin-right: 20px;
        .intro{
          height: 60px;
          padding: 0 20px;
          box-sizing: border-box;
          background-color: #ffffff;
          .name{
            font-size: 24px;
            line-height: 60px;
            color: #17b58f;
          }
          .subject{
            font-size: 14px;
            line-height: 14px;
            color: #333333;
            float: right;
            margin-top: 28px;
          }
        }
        .honor{
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          .detail{
            height: 300px;
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
            padding: 100px 40px;
            box-sizing: border-box;
          }
          .honor-btn{
            height: 60px;
            background-color: $bg-color;
            text-align: center;
            a{
              @extend %in-b;
              width: 120px;
              height: 38px;
              line-height: 36px;
              border-radius: 19px;
              border: solid 1px #ffffff;
              box-sizing: border-box;
              font-size: 14px;
              color: #ffffff;
              margin-top: 10px;
            }
          }
        }
        &:hover{
          .honor{
            display: block;
          }
        }
      }
    }
    .swiper-button-prev{
      width: 55px;
      height: 101px;
      background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/able.png") no-repeat;
      background-size: 100% 100%;
      transform: rotate(180deg);
      margin-top: -50px;
      &.swiper-button-disabled{
        background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/unable.png") no-repeat;
        background-size: 100% 100%;
        transform: rotate(0);
      }
    }
    .swiper-button-next{
      width: 55px;
      height: 101px;
      background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/able.png") no-repeat;
      background-size: 100% 100%;
      margin-top: -50px;
    }
  }
  .teachers-btn{
    @extend %in-b;
    width: 360px;
    height: 52px;
    background-color: #f9582d;
    border-radius: 26px;
    font-size: 18px;
    line-height: 50px;
    color: #fffefe;
    margin-top: 50px;
  }
}

/* 课堂 */
.classroom{
  padding-top: 75px;
  text-align: center;
  .title-module{
    background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/title_6.png") no-repeat center top;
  }
  .content{
    padding-top: 40px;
    ul{
      @extend %clearfix;
      margin-left: 70px;
      li{
        width: 520px;
        height: 280px;
        float: left;
        margin-right: 20px;
        margin-bottom: 21px;
        .content-btn{
          display: block;
          width: 200px;
          height: 52px;
          line-height: 52px;
          background-color: $txt-color;
          border-radius: 0px 26px 26px 0px;
          font-size: 18px;
          color: #fffefe;
          padding-left: 30px;
          box-sizing: border-box;
          margin-top: 30px;
          text-align: left;
        }
      }
    }
  }
  .classroom-btn{
    @extend %in-b;
    width: 360px;
    height: 52px;
    background-color: #f9582d;
    border-radius: 26px;
    font-size: 18px;
    line-height: 50px;
    color: #fffefe;
    margin-top: 18px;
  }
}

/* 购课 */
.buy-class{
  height: 296px;
  background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/bg_6.png") no-repeat center;
  margin-top: -18px;
  padding-top: 84px;
  box-sizing: border-box;
  .cont{
    box-shadow: -3px 2px 16px 0px
    rgba(13, 69, 66, 0.16);
    border-radius: 11px;
    background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/icon_6.png") no-repeat 50px center #ffffff;
    padding: 20px 0 20px 360px;
    box-sizing: border-box;
    ul{
      @extend %clearfix;
      li{
        float: left;
        width: 280px;
        height: 110px;
        border-right: 1px solid #dddddd;
        text-align: center;
        padding: 0 67px;
        box-sizing: border-box;
        position: relative;
        img{
          @extend %in-b;
        }
        .cont-title{
          font-size: 16px;
          line-height: 24px;
          color: #333333;
          margin-top: 12px;
        }
        .detail{
          width: 543px;
          //height: 386px;
          background-color: #ffffff;
          box-shadow: 5px 9px 16px 0px
          rgba(13, 69, 66, 0.2);
          position: absolute;
          bottom: 120px;
          right: -125px;
          padding: 35px 65px 48px 29px;
          box-sizing: border-box;
          text-align: left;
          display: none;
          .detail-close{
            display: block;
            width: 16px;
            height: 16px;
            background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/close.png") no-repeat;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
          }
          .text{
            line-height: 26px;
            .text-title{
              color: $txt-color;
              font-size: 16px;
            }
            .text-intro{
              font-size: 14px;
            }
            span{
              color: $bg-color;
            }
          }
        }
        &.cur{
          .detail{
            display: block;
          }
        }
        &:nth-of-type(3){
          .detail{
            right: -2px;
          }
        }
      }
    }
  }
}

#footer-div {
  height: 100px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background: #333333;
  text-align: center;
  font-size: 14px;
  p{
    color: rgba(250, 250, 250, 0.4);
    a{
      color: rgba(250, 250, 250, 0.4);
      &:hover{
        color: $txt-color;
      }
    }
  }
  .links {
    color: #ffffff;
    line-height: 24px;
    a {
      @extend %in-b;
      line-height: 14px;
      margin-left: 9px;
      padding-right: 12px;
      color: #ffffff;
      border-right: 1px solid #5a5a5a;
      margin-right: 0;
      &:last-child {
        border-right: 0;
      }
      &:hover{
        color: $txt-color;
      }
    }
  }
}

/* 右悬浮 */
.right-fixed{
  width: 160px;
  height: 400px;
  background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/right-fixed.png") no-repeat;
  background-size: 100% 100%;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  text-align: center;
  z-index: 100;
  .close{
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  .consult{
    @extend %in-b;
    width: 130px;
    height: 120px;
    //border: 1px solid blue;
    position: absolute;
    top: 77px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .answer{
    @extend %in-b;
    width: 130px;
    height: 120px;
    //border: 1px solid green;
    position: absolute;
    top: 209px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .to-top{
    width: 112px;
    height: 47px;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/* 预约试听弹窗 */
.appoint-popup{
  width: 520px;
  height: 400px;
  background: url("https://img.thea.cn/jingjia/public/201909/hbj/kyjj/images/appoint-popup.png") no-repeat top;
  padding: 60px 40px 16px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 300;
  display: none;
  .close{
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .population{
    font-size: 18px;
    line-height: 55px;
    color: #ffffff;
    text-align: center;
  }
  .appoint-form {
    background-color: rgba(255, 255, 255, 0.96);
    padding: 20px 20px 10px;
    font-size: 16px;
    border-radius: 10px;
    input {
      @extend %in-b;
      width: 100%;
      height: 42px;
      line-height: 42px;
      border: 1px solid #bbbbbb;
      box-sizing: border-box;
      border-radius: 8px;
      outline: none;
      background-color: #ffffff;
      margin-bottom: 10px;
      &:nth-of-type(1){
        margin-right: 16px;
      }
    }
    .submit{
      width: 100%;
      height: 42px;
      background-color: $txt-color;
      border-radius: 8px;
      border: none;
      margin-right: 0;
      color: #ffffff;
      cursor: pointer;
    }
    .form-hint{
      font-size: 14px;
      line-height: 20px;
      color: #ec5234;
      text-align: center;
    }
  }
}








